{% extends 'index.html' %}
{% block title %}SQL Injection{% endblock %}
{% block body %}
<div class="container-sm">
    <div class="col-5">
        <p>Simple phone directory, search by first name</p><p>try searching for Jaime</p>

        <form class="form-group" action="{{ url_for('main_bp.sql_injection') }}" method="POST">
            <div class="input-group">
              <input type="text" class="form-control" name="first name">
              <span class="input-group-btn">
                <button class="btn btn-default">Search</button>
              </span>
            </div>
        </form>
        {% if results == [] %}
            <p style="color:darkorange">Could not find anyone with that name</p>
        {% endif %}
        {% for result in results %}
            <p>
                {% for item in result %}
                    {{ item }}
                {% endfor %}
            </p>
        {% endfor %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert-info">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <a href="{{ url_for('main_bp.index') }}">Go back to home</a>
    </div>
</div>

{% endblock %}
