<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>{% block title %}Vulnerable App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
{% block body %}
    <div class="container-sm">
        <p>
            Cybersecurity project for building a vulnerable web application
            (<a href="https://cybersecuritybase.mooc.fi/">more info</a>).
        </p>
        <p>
            The web app is divided into five parts, demonstrating some of the flaws documented in
            OWASP top 10 <a href="https://www.owasp.org/images/7/72/OWASP_Top_10-2017_%28en%29.pdf.pdf">list</a>.
        </p>

        <div class="list-group">
            <a href="{{ url_for('main_bp.sql_injection') }}" class="list-group-item list-group-item-action">
              1. SQL Injection
            </a>
            <a href="{{ url_for('main_bp.csrf') }}" class="list-group-item list-group-item-action">
              2. CSRF
            </a>
            <a href="{{ url_for('main_bp.broken_auth') }}" class="list-group-item list-group-item-action">
              3. Broken authentication and 4. Broken Access Control
            </a>
            <a href="{{ url_for('main_bp.xss') }}" class="list-group-item list-group-item-action">
              5. Cross-site Scripting
            </a>
        </div>
    </div>
{% endblock %}
</body>
</html>