{% extends 'index.html' %}
{% block title %}Login page{% endblock %}
{% block body %}
    <div class="container">
        <h5>Sign in to the system</h5><br>
        <form action="{{ url_for('main_bp.broken_auth') }}" method="POST">
            <input type="text" name="username" placeholder="user name" autofocus><br>
            <input type="password" name="password" placeholder="password"><br>
            <button class="btn btn-outline-success">Log in</button>
        </form><br>
        <p class="text-muted">For this web app, your login info is ducky:hunter2</p>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="text-warning">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

    </div>

    <div class="container">
         <a href="{{ url_for('main_bp.index') }}">Go back to home</a>
    </div>
{% endblock %}