{% extends 'index.html' %}
{% block body %}
    <div class="col-lg-6">
        <h4>Forum topic: Tabs vs Spaces</h4>
        {% if posts %}
            <ol>
                {% for post in posts %}
{#                    The safe filter unescapes html, so this is the "vulnerability"  #}
{#                    Flask escapes html by default so the fix is --> {{ post.comment }}  #}
                    <li>{{ post.comment | safe }}</li>
                {% endfor %}
            </ol>
        {% endif %}

        Add a comment
        <form action="{{ url_for('main_bp.xss') }}" method="POST">
            <textarea class="form-control" name="comment"></textarea>
            <button class="btn btn-outline-success" type="submit">Post</button>
        </form>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="text-info">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <br>
        <a href="{{ url_for('main_bp.index') }}">Go back to home</a>
    </div>

{% endblock %}