<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>{% block title %}Vulnerable App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
{% block body %}
    <p>
        Cybersecurity project for building a vulnerable web application
        (<a href="https://cybersecuritybase.mooc.fi/">more info</a>).
    </p>
    <p>
        The web app is divided into five parts, demonstrating some of the flaws documented in
        OWASP top 10 <a href="https://www.owasp.org/images/7/72/OWASP_Top_10-2017_%28en%29.pdf.pdf">list</a>.
    </p>

    <div class="list-group">
        <a href="{{ url_for('sql_injection') }}" class="list-group-item list-group-item-action">
          1. SQL Injection
        </a>
        <a href="{{ url_for('csrf') }}" class="list-group-item list-group-item-action">
          2. CSRF
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          3. Sensitive data exposure
        </a>
        <a href="{{ url_for('broken_auth') }}" class="list-group-item list-group-item-action">
          4. Broken authentication
        </a>
        <a href="#" class="list-group-item list-group-item-action">
          5. Security misconfiguration
        </a>
    </div>
{% endblock %}
</body>
</html>